* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    font-family: "Josefin Sans",sans-serif;
}
.fa-icons i {
    color: #888;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    transition:  .3s;
}
.fa-icons i:hover {
    color: red;
}
header .nav-item {
    font-weight: 500;
    font-size: 17px;
}
header .navbar {
    background-color: #fff;
}
header .nav-item .active:hover {
    color: red;
}
header .nav-item .dropdown-toggle {
    color: #000;
    position: relative;
}
header .nav-item .dropdown-toggle::after {
    content: "HOT";
    position: absolute;
    background-color: rgba(255, 0, 0, 0.932);
    font-size: 10px;
    font-weight: 300;
    border-radius: 7px;
    border: 2px solid red;
    padding: 0 5px;
    text-align: center;
    color: #fff;
    top: -10px;
    right: -12px;
}
header .nav-item .dropdown-toggle:hover {
    color: red
}
.home {
    height: 500px;
    background-image: url(../Imges/about_hero.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-left: 20px solid red;
    border-bottom: 20px solid red;
}
.home .home-header {
    text-align: center;
    width: 50%;
    margin: auto;
}
.home .home-header h1 {
    margin-top: 30%;
    font-size: 90px;
    line-height: 1.2;
    margin-bottom: 25px;
    font-weight: 800;
    color: #0b1c39;
    letter-spacing: 1.2;
}
.sec-two {
    padding: 70px 0;
    border-right: 20px solid red;
    border-bottom: 20px solid red;
}
.sec-two .card {
    border: none;
}
.sec-two .card a {
    text-decoration: none;
}
.sec-two .card .card-body {
    padding: 30px 40px;
}
.sec-two .card .card-body h2 a {
    color: black;
    font-size: 25px;
    font-weight: 500;
    transition: .1s;
}
.sec-two .card .card-body h2:hover a {
    color: red;
}
.sec-two .card .card-body p {
    color: #777;
    font-size: 16px;
    line-height: 1.86;
    font-family: 'Roboto', sans-serif;
}
.sec-two .card .card-body a {
    color: #999999;
    font-size: 14px;
}
.sec-two .card .card-body a:hover {
    color:  red;
}
.sec-two .card .card-img {
    position: relative;
}
.sec-two .card .card-img h3{
    font-size: 25px;
    font-weight: bold;
}
.sec-two .card .card-img p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 1.1px;
}
.sec-two .card .card-img a {
    background-color: red;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: 30px;
    bottom: -18px;
    transition: .2s;
} 
.sec-two .card .card-img a:hover {
    background-color: transparent;
    color: red;
}
.sec-two .btn-toolbar {
    width: 20%;
    margin: auto;
}

/* second card */

.sec-two .card-f {
    background-color: #fbf9ff;
}
.sec-two .card form .btn i {
    color: #fff;
    font-size: 20px;
}
.sec-two .card form .btn {
    background: red;
    border: 1px solid red;
    border-radius: 5px;
}
.sec-two .card .btn-danger {
    background-color: red;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .1s;
}
.sec-two .card .btn-danger:hover {
    background-color: #fff;
    color: red;
}
.sec-two ul li {
    background-color:#fbf9ff;
    padding: 20px;
}
.sec-two ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #777;
    font-family: 'Roboto', sans-serif;
    transition: .1s;
}
.sec-two ul li:hover a {
    color: red;
}
.sec-two ul .big {
    font-size: 20px;
    color: #000;
}
.sec-two .detailes {
    background-color:#fbf9ff;
}
.sec-two .detailes img {
    vertical-align: middle;
    max-width: 85px;
    max-height: 90px;
}
.sec-two .detailes h3 {
    font-size: 20px;
    color: #000;
    padding: 20px 30px;
    border-bottom: 2px solid #ebe5e5;
}
.sec-two .detailes .detailes-body {
    padding: 15px 30px;
}
.sec-two .detailes .detailes-body:not(:last-child) {
    border-bottom: 2px solid #ebe5e5;
}
.sec-two .detailes a {
    display: block;
    text-decoration: none;
    padding-top: 15px;
}
.sec-two .detailes a h3 {
    color: #000;
    font-size: 16px;
    border: none;
    padding-left: 15px;
    padding-bottom: 0;
    transition: .1s;
}
.sec-two .detailes a h3:hover {
    color: red;
}
.sec-two .detailes a p {
    color: #777;
    font-size: 14px;
    cursor: default;
    padding-left: 15px;
}
.sec-two .clouds {
    background-color:#fbf9ff;
}
.sec-two .clouds h3 {
    font-size: 20px;
    color: #000;
    padding: 15px 20px;
    border-bottom: 2px solid #ebe5e5;
}
.sec-two .clouds .clouds-body {
    padding: 15px 20px;
}
.sec-two .clouds .btn {
    border: none;
    background-color: #fff;
    font-size: 15px;
    border: radius 0;
    color: #777;
    font-family: 'Roboto', sans-serif;
    transition: .1s;
}
.sec-two .clouds .btn:hover {
    background-color: red;
    color: #fff;
}
.sec-two .feeds {
    background-color:#fbf9ff;
}
.sec-two .feeds h3 {
    font-size: 20px;
    color: #000;
    padding: 15px 30px;
    border-bottom: 2px solid #ebe5e5;
}
.sec-two .feeds .feeds-body {
    padding: 40px 30px;
}
.sec-two .news {
    background-color:#fbf9ff;
}
.sec-two .news h3 {
    font-size: 20px;
    color: #000;
    padding: 15px 30px;
    border-bottom: 2px solid #ebe5e5;
}
.sec-two .news-body {
    padding: 35px 30px;
}
.sec-two .news-body .btn {
    background-color: red;
    text-align: center;
    padding: 15px 50px;
    transition: .1s;
}
.sec-two .news-body .btn:hover {
    background-color: #fff;
    color: red;
}

.footer {
    padding: 70px 0;
    border-left: 20px solid red;
}
.footer .footer-info img {
    max-width: 130px;
    margin-bottom: 30px;
}
.footer .footer-info ul {
    list-style: none;
}
.footer .footer-info ul li a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #868c98;
    transition: .6s;
}
.footer .footer-info ul li a:hover {
    color: #dc3545;
    padding-left: 6px;
}
.footer .footer-info ul li {
    padding-top: 15px;
}
.footer .footer-info h5 {
    padding-left: 30px;
    color: black;
    font-size: 22px;
    margin-bottom: 15px;
    letter-spacing: 1.2px;
    font-weight: 600;
    text-transform: capitalize;
}
.footer .footer-info p {
    font-size: 15px;
    font-weight: 300;
    color: #868c98;
}
.footer .footer-text {
    font-size: 16px;
    font-weight: 300;
    color: #888888;
}
.footer .footer-text i {
    color: red;
}
.footer .footer-text a {
    text-decoration: none;
    color: red;
}
.footer .icons a {
    text-decoration: none;
    color: black;
}
.footer .icons i {
    font-size: 18px;
    margin-right: 20px;
    transition: .4s ease-in-out 0s;
}
.footer .icons i:hover {
    color: red;
    transform: rotateY(352deg);
}





/* @media screen and (max-width: 325px) */
@media screen and (max-width: 325px)
{
    .home {
        height: 330px;
        background-image: url(../Imges/about_hero.png);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-left: 10px solid red;
        border-bottom: 10px solid red;
    }
    .home .home-header {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .home .home-header h1 {
        margin-top: 50%;
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .sec-two {
        padding: 40px 0;
        border-right: 10px solid red;
        border-bottom: 10px solid red;
    }
    .sec-two .card .card-body {
        padding: 30px 20px;
    }
    .sec-two .card .card-body h2 a {
        color: black;
        font-size: 18px;
        font-weight: 500;
        transition: .1s;
    }
    .sec-two .card .card-body p {
        color: #777;
        font-size: 14px;
        line-height: 1.86;
        font-family: 'Roboto', sans-serif;
    }
    .sec-two .card .card-body a {
        color: #999999;
        font-size: 14px;
    }
    .sec-two .card .card-img h3{
        font-size: 18px;
        font-weight: bold;
    }
    .sec-two .card .card-img p {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        letter-spacing: 1.1px;
    }
    .sec-two .card .card-img a {
        background-color: red;
        color: #fff;
        padding: 2px 20px;
        border-radius: 5px;
        text-align: center;
        position: absolute;
        left: 30px;
        bottom: -18px;
        transition: .2s;
    }
    .sec-two .clouds .btn {
        border: none;
        background-color: #fff;
        font-size: 12px;
        border: radius 0;
        color: #777;
        font-family: 'Roboto', sans-serif;
        transition: .1s;
    } 
    .sec-two .detailes a {
        display: block;
        text-decoration: none;
        padding-top: 0;
    }
    .sec-two .detailes a h3 {
        color: #000;
        font-size: 16px;
        border: none;
        padding-left: 15px;
        padding-bottom: 0;
        transition: .1s;
    }
    .footer .footer-f2 {
        padding-left: 30px;
    }
    .footer {
        padding: 40px 0;
        border-left: 10px solid red;
    }
    .footer .footer-info ul li {
        padding-top: 10px;
    }
    .footer .footer-info h5 {
        padding-left: 30px;
        color: #000000e1;
        font-size: 22px;
        margin-bottom: 5px;
        letter-spacing: 1.2px;
        font-weight: 600;
        text-transform: capitalize;
    }
}


/* @media screen and (min-width: 326px) and (max-width: 375px)*/
@media screen and (min-width: 326px) and (max-width: 375px) 
{
    .home {
        height: 400px;
        background-image: url(../Imges/about_hero.png);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-left: 10px solid red;
        border-bottom: 10px solid red;
    }
    .home .home-header {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .home .home-header h1 {
        margin-top: 50%;
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .sec-two {
        padding: 40px 0;
        border-right: 10px solid red;
        border-bottom: 10px solid red;
    }
    .sec-two .card .card-body {
        padding: 30px 20px;
    }
    .sec-two .card .card-body h2 a {
        color: black;
        font-size: 18px;
        font-weight: 500;
        transition: .1s;
    }
    .sec-two .card .card-body p {
        color: #777;
        font-size: 14px;
        line-height: 1.86;
        font-family: 'Roboto', sans-serif;
    }
    .sec-two .card .card-body a {
        color: #999999;
        font-size: 14px;
    }
    .sec-two .card .card-img h3{
        font-size: 18px;
        font-weight: bold;
    }
    .sec-two .card .card-img p {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        letter-spacing: 1.1px;
    }
    .sec-two .card .card-img a {
        background-color: red;
        color: #fff;
        padding: 5px 30px;
        border-radius: 5px;
        text-align: center;
        position: absolute;
        left: 30px;
        bottom: -18px;
        transition: .2s;
    }
    .sec-two .detailes a {
        display: block;
        text-decoration: none;
        padding-top: 0;
    }
    .sec-two .detailes a h3 {
        color: #000;
        font-size: 16px;
        border: none;
        padding-left: 15px;
        padding-bottom: 0;
        transition: .1s;
    } 
    .footer .footer-f2 {
        padding-left: 30px;
    }
    .sec-5 {
        padding: 40px 0;
        border-left: 10px solid red;
    }
    .footer {
        padding: 40px 0;
        border-left: 10px solid red;
    }
}


/* @media screen and (min-width: 376px) and (max-width: 425px) */
@media screen and (min-width: 376px) and (max-width: 425px) 
{
    .home {
        height: 400px;
        background-image: url(../Imges/about_hero.png);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-left: 15px solid red;
        border-bottom: 15px solid red;
    }
    .home .home-header {
        text-align: center;
        width: 70%;
        margin: auto;
    }
    .home .home-header h1 {
        margin-top: 50%;
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .sec-two {
        padding: 70px 0;
        border-right: 15px solid red;
        border-bottom: 15px solid red;
    }
    .sec-two .card .card-body {
        padding: 30px 20px;
    }
    .sec-two .card .card-body h2 a {
        color: black;
        font-size: 18px;
        font-weight: 500;
        transition: .1s;
    }
    .sec-two .card .card-body p {
        color: #777;
        font-size: 14px;
        line-height: 1.86;
        font-family: 'Roboto', sans-serif;
    }
    .sec-two .card .card-body a {
        color: #999999;
        font-size: 14px;
    }
    .sec-two .card .card-img h3{
        font-size: 18px;
        font-weight: bold;
    }
    .sec-two .card .card-img p {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        letter-spacing: 1.1px;
    }
    .sec-two .card .card-img a {
        background-color: red;
        color: #fff;
        padding: 5px 30px;
        border-radius: 5px;
        text-align: center;
        position: absolute;
        left: 30px;
        bottom: -18px;
        transition: .2s;
    }
    .footer .footer-f2 {
        padding-left: 30px;
    }
    .footer {
        padding: 40px 0;
        border-left: 15px solid red;
    }

}


/* @media screen and (min-width: 426px) and (max-width: 576px) */
@media screen and (min-width: 426px) and (max-width: 576px) 
{
    .home {
        height: 350px;
        background-image: url(../Imges/about_hero.png);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-left: 20px solid red;
        border-bottom: 20px solid red;
    }
    .home .home-header {
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .home .home-header h1 {
        margin-top: 50%;
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .footer .footer-f2 {
    padding-left: 30px;
    }
}



/* @media screen and (min-width: 577px) and (max-width: 768px) */
@media screen and (min-width: 577px) and (max-width: 768px)
{
    .home {
        height: 400px;
        background-image: url(../Imges/about_hero.png);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-left: 20px solid red;
        border-bottom: 20px solid red;
    }
    .home .home-header {
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .home .home-header h1 {
        margin-top: 30%;
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    
}


/* @media screen and (min-width: 768px) and (max-width: 1024px) */
@media screen and (min-width: 992px) and (max-width: 1024px) 
{
    .home {
        height: 500px;
        background-image: url(../Imges/about_hero.png);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-left: 20px solid red;
        border-bottom: 20px solid red;
    }
    .home .home-header {
        text-align: center;
        width: 50%;
        margin: auto;
    }
    .home .home-header h1 {
        margin-top: 30%;
        font-size: 90px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .footer {
        padding: 20px 0;
    }
    .footer .footer-info img {
        max-width: 130px;
        margin-bottom: 30px;
    }
    .footer .footer-info ul li a {
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        color: #868c98;
        transition: .6s;
    }
    .footer .footer-info ul li {
        padding-top: 12px;
    }
    .footer .footer-info h5 {
        padding-left: 30px;
        color: black;
        font-size: 22px;
        margin-bottom: 13px;
        letter-spacing: 1.2px;
        font-weight: 600;
        text-transform: capitalize;
    }
    .footer .footer-info p {
        font-size: 15px;
        font-weight: 300;
        color: #868c98;
    }
}