* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    font-family: "Josefin Sans",sans-serif;
}
.fa-icons i {
    color: #888;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    transition:  .3s;
}
.fa-icons i:hover {
    color: red;
}
header .nav-item {
    font-weight: 500;
    font-size: 17px;
}
header .navbar {
    background-color: #fff;
}
header .nav-item .active:hover {
    color: red;
}
header .nav-item .dropdown-toggle {
    color: #000;
    position: relative;
}
header .nav-item .dropdown-toggle::after {
    content: "HOT";
    position: absolute;
    background-color: rgba(255, 0, 0, 0.932);
    font-size: 10px;
    font-weight: 300;
    border-radius: 7px;
    border: 2px solid red;
    padding: 0 5px;
    text-align: center;
    color: #fff;
    top: -10px;
    right: -12px;
}
header .nav-item .dropdown-toggle:hover {
    color: red
}
.home {
    background-color: #d8d8d8b2;
    border-bottom: 20px solid red;
    border-left: 20px solid red;
}
.home .home-text {
    margin-top: 45%;
}
.home .home-text h1{
    font-size: 90px;
    line-height: 1.2;
    margin-bottom: 25px;
    font-weight: 800;
    color: #0b1c39;
    letter-spacing: 1.2;
}
.home .home-text p {
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
.home .btn {
    font-size: 16px;
    padding: 15px 40px;
    border: none;
    background-color: #4a4a4b;
    position: relative;
    z-index: 1;
}
.home .btn::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: red;
    inset: 0;
    z-index: -1;
    transition: .5s;
}
.home .btn:hover::after {
    width: 100%;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.sec-1 {
    padding: 80px 0;
    border-bottom: 20px solid red;
    border-right: 20px solid red;
}
.sec-1 .title h2 {
    color: black;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 50px;
}
.sec-1 .card {
    text-align: center;
    border: none;
}
.sec-1 .card-img img {
    transition: .5s;
}
.sec-1 .card .card-img {
    overflow: hidden;
    display: block;
}
.sec-1 .card a {
    text-decoration: none;
}
.sec-1 .card h3 {
    color: #4a4a4b;
    font-size: 27px;
    padding: 10px 0;
    font-weight: 600;
}
.sec-1 .card  p {
    font-size: 20px;
    font-weight: 500;
    color:  red;
}
.sec-1 .card:hover img {
    transform: scale(1.1);
}
.sec-2  {
    padding: 70px 0;
    border-bottom: 20px solid red;
    border-left: 20px solid red;
}
.sec-2 .view2 {
    margin-top: 10px;
}
.sec-2 .view {
    overflow: hidden;
}
.sec-2 .view .view-img {
    background-position: top left;
    transform: scale(1.1);
    transition: .5s;
}
.sec-2 .view .view-img img {
    height: 100%;
}
.sec-2 .view:hover .view-img {
    transform: scale(1);
}
.sec-3 {
    padding: 70px 0;
    border-bottom: 20px solid red;
    border-right: 20px solid red;
}
.sec-3 .card {
    border: none;
    text-align: center;
}
.sec-3 .card a {
    text-decoration: none;
}
.sec-3 .title {
    width: 60%;
    margin: auto;
    text-align: center;
}
.sec-3 .title h2 {
    color: #000;
    font-size: 50px;
    line-height: 1;
    font-weight: bolder;
}
.sec-3 .title p {
    font-size: 19px;
    color: #777;
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
}
.sec-3 .card h3 {
    color: #4a4a4b;
    font-size: 27px;
    padding: 10px 0;
    font-weight: 600;
}
.sec-3 .card p {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    position: relative;
}
.sec-3 .card .cover i {
    font-size: 30px;
}
.sec-3 .card .cover {
    position: absolute;
    background-color: transparent;
    top: 30px;
    right: 30px;
    opacity: 0;
    transition: .4s;
}
.sec-3 .card:hover .cover {
    opacity: 1;
}
.sec-3 .card .card-img {
    border-bottom: 4px solid red;
    position: relative;
    overflow: hidden;
}
.sec-3 .card .card-img::after {
    content: "Add To Cart";
    width: 100%;
    height: 65px;
    position: absolute;
    background-color: red;
    text-align: center;
    padding-top: 20px;
    transform: translateY(65px);
    color: #fff;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .4s ease-in-out;
}
.sec-3 .card:hover ::after {
    opacity: 1;
    transform: translateY(1px);
}
.sec-4 {
    padding: 70px 0;
    border-bottom: 20px solid red;
    border-left: 20px solid red;
}
.sec-4 .watch {
    margin-top: 30%;
    width: 85%;
    border: none;
}
.sec-4 .watch1 {
   padding-bottom: 80px;
}
.sec-4 .watch2 {
    padding-top: 80px;
}
.sec-4 .watch h2 {
    color: black;
    font-size: 55px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.2;
}
.sec-4 .watch p {
    font-size: 17px;
    color: #777;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}
.sec-4 .watch .btn {
    font-size: 16px;
    padding: 18px 30px;
    border: none;
    border-radius: 0;
    background-color: red;
    position: relative;
    z-index: 1;
}
.sec-4 .watch .btn::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #333;
    inset: 0;
    z-index: -1;
    transition: .5s ease-in-out;
}
.sec-4 .watch .btn:hover::after {
    width: 100%;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.sec-5 {
    padding: 70px 0;
    border-right: 20px solid red;
}
.sec-5 .row{
    background-color: red;
}
.sec-5 .secure-sys {
    padding: 40px 30px;
}
.sec-5 .secure-sys i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    transform: rotateY(180deg);
}
.sec-5 .secure-sys h6 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.1px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.sec-5 .secure-sys p {
    margin-top: 10px;
    font-size: 16px;
    color: #f3f3f3a8;
    font-family: 'Roboto', sans-serif;
}
.footer {
    padding: 70px 0;
    border-right: 20px solid red;
}
.footer .footer-info img {
    max-width: 130px;
    margin-bottom: 30px;
}
.footer .footer-info ul {
    list-style: none;
}
.footer .footer-info ul li a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #868c98;
    transition: .6s;
}
.footer .footer-info ul li a:hover {
    color: #dc3545;
    padding-left: 6px;
}
.footer .footer-info ul li {
    padding-top: 15px;
}
.footer .footer-info h5 {
    padding-left: 30px;
    color: #000000e1;
    font-size: 22px;
    margin-bottom: 15px;
    letter-spacing: 1.2px;
    font-weight: 600;
    text-transform: capitalize;
}
.footer .footer-info p {
    font-size: 15px;
    font-weight: 300;
    color: #868c98;
    font-family: "Roboto",sans-serif;
}
.footer .footer-text {
    font-size: 16px;
    font-weight: 300;
    color: #888888;
}
.footer .footer-text i {
    color: red;
}
.footer .footer-text a {
    text-decoration: none;
    color: red;
}
.footer .icons a {
    text-decoration: none;
    color: black;
}
.footer .icons i {
    font-size: 18px;
    margin-right: 20px;
    transition: .4s ease-in-out 0s;
}
.footer .icons i:hover {
    color: red;
    transform: rotateY(352deg);
}


/* @media screen and (max-width: 325px) */
@media screen and (max-width: 325px)
{
    .home {
        background-color: #d8d8d8b2;
        border-bottom: 10px solid red;
        border-left: 10px solid red;
    }
    .home .home-text {
        margin-top: 15%;
        padding-bottom: 50px;
    }
    .home .home-img {
        display: none;
    }
    .home .home-text h1{
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 8px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .home .home-text p {
        font-size: 14px;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .home .btn {
        font-size: 16px;
        padding: 10px 30px;
        border: none;
        background-color: #4a4a4b;
        position: relative;
        z-index: 1;
    }
    .sec-1 {
        padding: 50px 0;
        border-bottom: 10px solid red;
        border-right: 10px solid red;
    }
    .sec-1 .title h2 {
        color: black;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .sec-1 .card {
        text-align: center;
        border: none;
    }
    .sec-1 .card-img img {
        transition: .5s;
    }
    .sec-1 .card .card-img {
        overflow: hidden;
        display: block;
    }
    .sec-1 .card a {
        text-decoration: none;
    }
    .sec-1 .card h3 {
        color: #4a4a4b;
        font-size: 20px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-1 .card  p {
        font-size: 17px;
        font-weight: 500;
        color:  red;
    }
    .sec-2  {
        padding: 40px 0;
        border-bottom: 10px solid red;
        border-left: 10px solid red;
    }
    .sec-2 .view {
        margin-bottom: 15px;
    }
    .sec-3 {
        padding: 70px 0;
        border-bottom: 10px solid red;
        border-right: 10px solid red;
    }
    .sec-3 .card {
        border: none;
        text-align: center;
    }
    .sec-3 .card a {
        text-decoration: none;
    }
    .sec-3 .title {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .sec-3 .title h2 {
        color: #000;
        font-size: 26px;
        line-height: normal;
        font-weight: bolder;
    }
    .sec-3 .title p {
        font-size: 14px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        line-height: 1.2rem;
    }
    .sec-3 .card h3 {
        color: #4a4a4b;
        font-size: 22px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-3 .card p {
        font-size: 17px;
        font-weight: 500;
        color: #333;
        position: relative;
    }
    .sec-3 .card .cover i {
        font-size: 30px;
    }
    .sec-4 {
        padding: 70px 0;
        border-bottom: 10px solid red;
        border-left: 10px solid red;
    }
    .sec-4 .watch {
        margin-top: 5%;
        width: 100%;
        border: none;
    }
    .sec-4 .watch1 {
       padding-bottom: 30px;
    }
    .sec-4 .watch2 {
        padding-top: 30px;
    }
    .sec-4 .watch h2 {
        color: black;
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
    .sec-4 .watch p {
        font-size: 16px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }
    .sec-4 .watch .btn {
        font-size: 16px;
        padding: 12px 10px;
        border: none;
        border-radius: 0;
        background-color: red;
        position: relative;
        z-index: 1;
    }
    .sec-5 .secure-sys h6 {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.1px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }
    .sec-5 .secure-sys p {
        margin-top: 10px;
        font-size: 14 px;
        color: #f3f3f3a8;
        font-family: 'Roboto', sans-serif;
    }
    .footer .footer-f2 {
        padding-left: 30px;
    }
    .sec-5 {
        padding: 40px 0;
        border-right: 10px solid red;
    }
    .footer {
        padding: 40px 0;
        border-right: 10px solid red;
    }
    .footer .footer-info ul li {
        padding-top: 10px;
    }
    .footer .footer-info h5 {
        padding-left: 30px;
        color: #000000e1;
        font-size: 22px;
        margin-bottom: 5px;
        letter-spacing: 1.2px;
        font-weight: 600;
        text-transform: capitalize;
    }
}

/* @media screen and (min-width: 326px) and (max-width: 375px)*/
@media screen and (min-width: 326px) and (max-width: 375px) 
{
    .home {
        background-color: #d8d8d8b2;
        border-bottom: 10px solid red;
        border-left: 10px solid red;
    }
    .home .home-text {
        margin-top: 15%;
        padding-bottom: 50px;
    }
    .home .home-img {
        display: none;
    }
    .home .home-text h1{
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 8px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .home .home-text p {
        font-size: 14px;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .home .btn {
        font-size: 16px;
        padding: 10px 30px;
        border: none;
        background-color: #4a4a4b;
        position: relative;
        z-index: 1;
    }
    .sec-1 {
        padding: 50px 0;
        border-bottom: 10px solid red;
        border-right: 10px solid red;
    }
    .sec-1 .title h2 {
        color: black;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .sec-1 .card {
        text-align: center;
        border: none;
    }
    .sec-1 .card-img img {
        transition: .5s;
    }
    .sec-1 .card .card-img {
        overflow: hidden;
        display: block;
    }
    .sec-1 .card a {
        text-decoration: none;
    }
    .sec-1 .card h3 {
        color: #4a4a4b;
        font-size: 22px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-1 .card  p {
        font-size: 17px;
        font-weight: 500;
        color:  red;
    }
    .sec-2  {
        padding: 40px 0;
        border-bottom: 10px solid red;
        border-left: 10px solid red;
    }
    .sec-2 .view {
        margin-bottom: 15px;
    }
    .sec-3 {
        padding: 70px 0;
        border-bottom: 10px solid red;
        border-right: 10px solid red;
    }
    .sec-3 .card {
        border: none;
        text-align: center;
    }
    .sec-3 .card a {
        text-decoration: none;
    }
    .sec-3 .title {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .sec-3 .title h2 {
        color: #000;
        font-size: 26px;
        line-height: normal;
        font-weight: bolder;
    }
    .sec-3 .title p {
        font-size: 14px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        line-height: 1.2rem;
    }
    .sec-3 .card h3 {
        color: #4a4a4b;
        font-size: 22px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-3 .card p {
        font-size: 17px;
        font-weight: 500;
        color: #333;
        position: relative;
    }
    .sec-3 .card .cover i {
        font-size: 30px;
    }
    .sec-4 {
        padding: 70px 0;
        border-bottom: 10px solid red;
        border-left: 10px solid red;
    }
    .sec-4 .watch {
        margin-top: 5%;
        width: 85%;
        border: none;
    }
    .sec-4 .watch1 {
       padding-bottom: 30px;
    }
    .sec-4 .watch2 {
        padding-top: 30px;
    }
    .sec-4 .watch h2 {
        color: black;
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
    .sec-4 .watch p {
        font-size: 16px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }
    .sec-4 .watch .btn {
        font-size: 16px;
        padding: 18px 20px;
        border: none;
        border-radius: 0;
        background-color: red;
        position: relative;
        z-index: 1;
    }
    .footer .footer-f2 {
        padding-left: 30px;
    }
    .sec-5 {
        padding: 40px 0;
        border-right: 10px solid red;
    }
    .footer {
        padding: 40px 0;
        border-right: 10px solid red;
    }

}


/* @media screen and (min-width: 376px) and (max-width: 425px) */
@media screen and (min-width: 376px) and (max-width: 425px) 
{
    .home {
        background-color: #d8d8d8b2;
        border-bottom: 15px solid red;
        border-left: 15px solid red;
    }
    .home .home-text {
        margin-top: 25%;
        padding-bottom: 50px;
        height: 280px;
    }
    .home .home-img {
        display: none;
    }
    .home .home-text h1{
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 18px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .home .home-text p {
        font-size: 15px;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .home .btn {
        font-size: 16px;
        padding: 10px 30px;
        border: none;
        background-color: #4a4a4b;
        position: relative;
        z-index: 1;
    }
    .sec-1 {
        padding: 50px 0;
        border-bottom: 15px solid red;
        border-right: 15px solid red;
    }
    .sec-1 .title h2 {
        color: black;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .sec-1 .card {
        text-align: center;
        border: none;
    }
    .sec-1 .card-img img {
        transition: .5s;
    }
    .sec-1 .card .card-img {
        overflow: hidden;
        display: block;
    }
    .sec-1 .card a {
        text-decoration: none;
    }
    .sec-1 .card h3 {
        color: #4a4a4b;
        font-size: 22px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-1 .card  p {
        font-size: 17px;
        font-weight: 500;
        color:  red;
    }
    .sec-2  {
        padding: 40px 0;
        border-bottom: 15px solid red;
        border-left: 15px solid red;
    }
    .sec-2 .view {
        margin-bottom: 15px;
    }
    .sec-3 {
        padding: 70px 0;
        border-bottom: 15px solid red;
        border-right: 15px solid red;
    }
    .sec-3 .card {
        border: none;
        text-align: center;
    }
    .sec-3 .card a {
        text-decoration: none;
    }
    .sec-3 .title {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .sec-3 .title h2 {
        color: #000;
        font-size: 26px;
        line-height: normal;
        font-weight: bolder;
    }
    .sec-3 .title p {
        font-size: 14px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        line-height: 1.2rem;
    }
    .sec-3 .card h3 {
        color: #4a4a4b;
        font-size: 22px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-3 .card p {
        font-size: 17px;
        font-weight: 500;
        color: #333;
        position: relative;
    }
    .sec-3 .card .cover i {
        font-size: 30px;
    }
    .sec-4 {
        padding: 50px 0;
        border-bottom: 15px solid red;
        border-left: 15px solid red;
    }
    .sec-4 .watch {
        margin-top: 5%;
        width: 85%;
        border: none;
    }
    .sec-4 .watch1 {
       padding-bottom: 30px;
    }
    .sec-4 .watch2 {
        padding-top: 30px;
    }
    .sec-4 .watch h2 {
        color: black;
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
    .sec-4 .watch p {
        font-size: 16px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }
    .sec-4 .watch .btn {
        font-size: 16px;
        padding: 18px 20px;
        border: none;
        border-radius: 0;
        background-color: red;
        position: relative;
        z-index: 1;
    }
    .footer .footer-f2 {
        padding-left: 30px;
    }
    .sec-5 {
        padding: 40px 0;
        border-right: 15px solid red;
    }
    .footer {
        padding: 40px 0;
        border-right: 15px solid red;
    }

}


/* @media screen and (min-width: 426px) and (max-width: 576px) */
@media screen and (min-width: 426px) and (max-width: 576px) 
{
    .home {
        background-color: #d8d8d8b2;
        border-bottom: 20px solid red;
        border-left: 20px solid red;
    }
    .home .home-text {
        margin-top: 15%;
        padding-bottom: 50px;
        height: 300px;
    }
    .home .home-img {
        display: none;
    }
    .home .home-text h1{
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .home .home-text p {
        font-size: 18px;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }
    .home .btn {
        font-size: 16px;
        padding: 15px 40px;
        border: none;
        background-color: #4a4a4b;
        position: relative;
        z-index: 1;
    }
    .sec-1 {
        padding: 50px 0;
        border-bottom: 20px solid red;
        border-right: 20px solid red;
    }
    .sec-1 .title h2 {
        color: black;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .sec-1 .card {
        text-align: center;
        border: none;
    }
    .sec-1 .card-img img {
        transition: .5s;
    }
    .sec-1 .card .card-img {
        overflow: hidden;
        display: block;
    }
    .sec-1 .card a {
        text-decoration: none;
    }
    .sec-1 .card h3 {
        color: #4a4a4b;
        font-size: 27px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-1 .card  p {
        font-size: 20px;
        font-weight: 500;
        color:  red;
    }
    .sec-3 {
        padding: 70px 0;
        border-bottom: 20px solid red;
        border-right: 20px solid red;
    }
    .sec-3 .card {
        border: none;
        text-align: center;
    }
    .sec-3 .card a {
        text-decoration: none;
    }
    .sec-3 .title {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .sec-3 .title h2 {
        color: #000;
        font-size: 30px;
        line-height: 1;
        font-weight: bolder;
    }
    .sec-3 .title p {
        font-size: 16px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        line-height: 2rem;
    }
    .sec-4 {
        padding: 70px 0;
        border-bottom: 20px solid red;
        border-left: 20px solid red;
    }
    .sec-4 .watch {
        margin-top: 5%;
        width: 85%;
        border: none;
    }
    .sec-4 .watch1 {
       padding-bottom: 30px;
    }
    .sec-4 .watch2 {
        padding-top: 30px;
    }
    .sec-4 .watch h2 {
        color: black;
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
    .sec-4 .watch p {
        font-size: 16px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 25px;
    }
    .sec-4 .watch .btn {
        font-size: 16px;
        padding: 18px 20px;
        border: none;
        border-radius: 0;
        background-color: red;
        position: relative;
        z-index: 1;
    }
    .footer .footer-f2 {
        padding-left: 30px;
    }
    .footer .icons {
        display: block;
    }
}


/* @media screen and (min-width: 577px) and (max-width: 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) 
{
    .home-img img {
        vertical-align: middle;
        max-width: 80%;
        height: 500px;
        
    }
    .fa-icons i {
        color: #888;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        transition:  .3s;
    }
    .home .home-text {
        margin-top: 10%;
    }
    .home .home-text h1{
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .sec-1 .card h3 {
        color: #373738;
        font-size: 23px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-1 .card  p {
        font-size: 17px;
        font-weight: 500;
        color:  red;
    }
    .sec-3 .title {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .sec-3 .title h2 {
        color: #000;
        font-size: 50px;
        line-height: 1;
        font-weight: bolder;
    }
    .sec-3 .title p {
        font-size: 19px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        line-height: 2rem;
    }
    .sec-4 {
        padding: 70px 0;
        border-bottom: 20px solid red;
        border-left: 20px solid red;
    }
    .sec-4 .watch {
        margin-top: 10%;
        width: 100%;
        border: none;
    }
    .sec-4 .watch1 {
       padding-bottom: 40px;
    }
    .sec-4 .watch2 {
        padding-top: 40px;
    }
    .sec-4 .watch h2 {
        color: black;
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 1.2;
    }
    .sec-4 .watch p {
        font-size: 17px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 40px;
    }
    .sec-4 .watch .btn {
        font-size: 16px;
        padding: 18px 30px;
        border: none;
        border-radius: 0;
        background-color: red;
        position: relative;
        z-index: 1;
    }

}


/* @media screen and (min-width: 768px) and (max-width: 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) 
{
    .home .home-img img {
        vertical-align: middle;
        max-width: 90%;
        height: 650px;
    }
    .fa-icons i {
        color: #888;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        transition:  .3s;
    }
    .home .home-text {
        margin-top: 20%;
    }
    .home .home-text h1{
        font-size: 80px;
        line-height: 1.2;
        margin-bottom: 25px;
        font-weight: 800;
        color: #0b1c39;
        letter-spacing: 1.2;
    }
    .sec-1 .card h3 {
        color: #4a4a4b;
        font-size: 23px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-1 .card  p {
        font-size: 20px;
        font-weight: 500;
        color:  red;
    }
    .sec-3 .title {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    .sec-3 .title h2 {
        color: #000;
        font-size: 50px;
        line-height: 1;
        font-weight: bolder;
    }
    .sec-3 .title p {
        font-size: 19px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        line-height: 2rem;
    }
    .sec-3 .card h3 {
        color: #4a4a4b;
        font-size: 23px;
        padding: 10px 0;
        font-weight: 600;
    }
    .sec-3 .card p {
        font-size: 20px;
        font-weight: 500;
        color: #333;
        position: relative;
    }
    .sec-4 .watch h2 {
        color: black;
        font-size: 50px;
        margin-bottom: 30px;
        font-weight: 700;
        line-height: 1.2;
    }
    .sec-4 .watch p {
        font-size: 17px;
        color: #777;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 40px;
    }
    .sec-4 .watch .btn {
        font-size: 16px;
        padding: 18px 30px;
        border: none;
        border-radius: 0;
        background-color: red;
        position: relative;
        z-index: 1;
    }
    .sec-5 .secure-sys {
        padding: 40px 30px;
    }
    .sec-5 .secure-sys i {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
        transform: rotateY(180deg);
    }
    .sec-5 .secure-sys h6 {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.1px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }
    .sec-5 .secure-sys p {
        margin-top: 10px;
        font-size: 15px;
        color: #d3d1d1;
        font-family: 'Roboto', sans-serif;
    }
    .footer {
        padding: 20px 0;
        border-right: 20px solid red;
    }
    .footer .footer-info img {
        max-width: 130px;
        margin-bottom: 30px;
    }
    .footer .footer-info ul li a {
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        color: #868c98;
        transition: .6s;
    }
    .footer .footer-info ul li {
        padding-top: 12px;
    }
    .footer .footer-info h5 {
        padding-left: 30px;
        color: black;
        font-size: 22px;
        margin-bottom: 13px;
        letter-spacing: 1.2px;
        font-weight: 600;
        text-transform: capitalize;
    }
    .footer .footer-info p {
        font-size: 15px;
        font-weight: 300;
        color: #868c98;
    }
}